<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col size="9">
          <ion-searchbar class="summoner-search"
            placeholder = "Buscar invocador">
          </ion-searchbar>
        </ion-col>
      </ion-row>
     </ion-grid>     
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item (click)="changeItemImage('../../assets/images/mochilaRappi.jpg')">
            <ion-avatar slot="start">
              <img src="../../assets/images/mochilaRappi.jpg">
            </ion-avatar>
            <ion-label>Rafaasdf</ion-label>
          </ion-item>
          <ion-item  (click)="changeItemImage('../../assets/images/diegoskt.jpeg')"> 
            <ion-avatar slot="start">
              <img src="../../assets/images/diegoskt.jpeg">
            </ion-avatar>
            <ion-label>Diegoskt</ion-label>
          </ion-item>          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
