<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col size="9">
          <ion-searchbar class="summoner-search"
            placeholder = "Buscar invocador">
          </ion-searchbar>
        </ion-col>
      </ion-row>
     </ion-grid>     
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 
</ion-content>
